@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

 



 


body{
    font-family: 'Playfair Display';
    font-size: 12px;
}


header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

header>div{
    display: flex;
    justify-content: space-between;
}

#price{
    text-align: left;
    margin-right: 1vh;
    margin-left: 2vh;
}

#date{
   text-align: right;
}

h1{
    text-align: center;
    font-weight: normal;
    font-size: 250%;
    margin-bottom: 2vh;
}

h2{
    margin-top: 0;
    font-size: 150%;
    font-weight: normal;
}

h3{
    font-size: 120%;
    font-weight: normal;
}

main{
    display: flex;
}


main>div{
    padding: 0vh 2vw;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

main>div:last-child{
    border-right: none;
}

.author{
    font-size: 120%;
    font-style: italic;
    text-align: right;
}

article{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 1vh;
}

article:last-child{
    border-bottom: none;
}


article>figure>img{
    margin: 0;
    padding: 0;
    width: 40vw;
    height: auto;
}